*.??_
*$py.class
*.7z
*.a
*.ace
*.afa
*.alz
*.apk
*.app
/app/phpunit.xml
*.ar
*.arc
*.arj
atlassian-ide-plugin.xml
*.b1
*.ba
*.bh
bower_components
/build/
build/
build/Release
*.bz2
*.bzip
*.bzip2
*.cab
.cache
.cache/
*.car
celerybeat.pid
celerybeat-schedule
*.cfs
cmake-build-*/
*.cmd
com_crashlytics_export_strings.xml
*.cover
cover/
.coverage
.coverage.*
coverage
coverage.xml
*.cpio
*.cpt
crashlytics-build.properties
crashlytics.properties
cython_debug/
*.d
*.dar
db.sqlite3
db.sqlite3-journal
*.dd
*.deb
develop-eggs/
*.dgc
dist
dist/
dkms.conf
*.dll
*.dmg
.dmypy.json
dmypy.json
docs/_build/
.docusaurus
downloads/
*.dSYM/
*.dylib
.dynamodb/
*.ear
*.egg
*.egg-info/
.eggs/
eggs/
*.elf
.env
env/
ENV/
env.bak/
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
*.exe
*.exe~
*.exp
*.F
fabric.properties
.fusebox/
*.gca
*.gch
*.gem
go.work
.grunt
*.gz
*.gzip
*.ha
*.hex
*.hki
htmlcov/
.hypothesis/
*.i*86
*.ice
*.idb
.idea/*
.idea/**/aws.xml
.idea/caches/build_file_checksums.ser
!.idea/codeStyles
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/httpRequests
.idea/**/libraries
.idea_modules/
.idea/**/mongoSettings.xml
.idea/replstate.xml
!.idea/runConfigurations
.idea/**/shelf
.idea/sonarlint/
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
*.ilk
*.infl
.installed.cfg
instance/
.ipynb_checkpoints
ipython_config.py
*.iso
*.iws
*.jar
jspm_packages/
*.kgb
*.ko
*.la
*.lai
*.lbr
*.LBR
*.lcov
lerna-debug.log*
*.lha
*.lib
lib/
lib64/
lib-cov
*.lo
local_settings.py
.lock-wscript
*.log
logs
*.lz
*.lzh
*.lzma
*.lzo
*.lzx
*.manifest
MANIFEST
*.map
*.mar
Mkfile.old
*.mo
*.mod
*.mod*
modules.order
Module.symvers
*.msi
*.msm
*.msp
.mypy_cache/
.next
node_modules/
.node_repl_history
nosetests.xml
.nox/
.npm
npm-debug.log*
.nuxt
.nyc_output
*.o
*.obj
*.out
out
out/
*.pak
*.paq*
.parcel-cache
*.partimg
parts/
*.pch
*.pdb
.pdm.toml
*.pea
.phpunit.cache
.phpunit.result.cache
/phpunit.xml
*.pid
*.pid.lock
pids
*.pim
pip-delete-this-directory.txt
pip-log.txt
*.pit
*.pkg
.pnp.*
.pnpm-debug.log*
poetry.toml
*.pot
profile_default/
.pybuilder/
__pycache__/
*.py[cod]
*.py,cover
__pypackages__/
.pyre/
pyrightconfig.json
.pytest_cache/
.Python
.pytype/
*.?Q?
*.qda
*.rar
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.rk
.ropeproject
*.rpm
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.ruff_cache/
*.rz
*.s7z
*.sage.py
.scrapy
*.sda
sdist/
*.sea
*.seed
*.sen
.serverless/
*.sfark
*.sfx
*.shar
share/python-wheels/
*.shk
*.sit
/site
*.sitx
*.slo
*.smod
*.so
*.so.*
*.spec
.spyderproject
.spyproject
*.sqx
.stylelintcache
*.su
.svelte-kit
*.sz
*.tar
*.tar.bz2
target/
*.tar.gz
*.tar.lzma
*.tar.Z
*.tbz2
.temp
.tern-port
*.test
*.tgz
*.tlz
.tmp_versions/
.tox/
*.tsbuildinfo
*.txz
*.uc
*.uc0
*.uc2
*.uca
*.ucn
*.ue2
*.uha
*.ur2
var/
.venv
venv/
venv.bak/
.vscode-test
.vuepress/dist
*.war
.webassets-cache
web_modules/
.webpack/
wheels/
*.wim
*.x86_64
*.xar
*.xp3
*.xpi
*.xz
.yarn/build-state.yml
.yarn/cache
yarn-debug.log*
yarn-error.log*
.yarn/install-state.gz
.yarn-integrity
.yarn/unplugged
*.yz1
*.z
*.?Z?
*.Z
*.zip
*.zipx
*.zoo
*.zpaq
*.zz
